set default=0
set timeout=-1
set menu_color_normal=light-gray/black
set menu_color_highlight=light-green/black
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input console serial
terminal_output console serial

menuentry 'ROUGAROU OS  /  Begin installation' {
    linux /install.amd/vmlinuz vga=normal nomodeset fb=false preseed/file=/cdrom/rougarou/preseed.cfg --- quiet
    initrd /install.amd/initrd.gz
}
menuentry 'ROUGAROU OS  /  Serial console, 115200' {
    linux /install.amd/vmlinuz preseed/file=/cdrom/rougarou/preseed.cfg console=tty0 console=ttyS0,115200n8 --- console=tty0 console=ttyS0,115200n8
    initrd /install.amd/initrd.gz
}
menuentry 'ROUGAROU OS  /  Advanced installation' {
    linux /install.amd/vmlinuz vga=normal nomodeset fb=false priority=low preseed/file=/cdrom/rougarou/preseed.cfg ---
    initrd /install.amd/initrd.gz
}
menuentry 'Rougarou OS | Rescue an existing system' {
    linux /install.amd/vmlinuz vga=normal rescue/enable=true --- quiet
    initrd /install.amd/initrd.gz
}
