default menu.c32
serial 0 115200
prompt 0
timeout 0
menu title R O U G A R O U   O S  /  SERVER INSTALLATION
menu color border 35;40 #ffA58ACB #ff080F0B std
menu color title 1;32;40 #ff79C58E #ff080F0B std
menu color sel 30;42 #ff080F0B #ff79C58E all
menu color unsel 37;40 #ffDFE7DF #ff080F0B std

label install
  menu label Begin installation
  menu default
  kernel /install.amd/vmlinuz
  append initrd=/install.amd/initrd.gz vga=normal nomodeset fb=false preseed/file=/cdrom/rougarou/preseed.cfg --- quiet
label serial
  menu label Serial console / ttyS0 / 115200
  kernel /install.amd/vmlinuz
  append initrd=/install.amd/initrd.gz preseed/file=/cdrom/rougarou/preseed.cfg console=tty0 console=ttyS0,115200n8 --- console=tty0 console=ttyS0,115200n8
label expert
  menu label Advanced installation
  kernel /install.amd/vmlinuz
  append initrd=/install.amd/initrd.gz vga=normal nomodeset fb=false priority=low preseed/file=/cdrom/rougarou/preseed.cfg ---
label rescue
  menu label Rescue an existing system
  kernel /install.amd/vmlinuz
  append initrd=/install.amd/initrd.gz vga=normal rescue/enable=true --- quiet
